/* Style for All */
@font-face {
  font-family: UTMAptima;
  src: url(../fonts/UTMAptima.ttf);
}
@font-face {
  font-family: UTMAircona;
  src: url(../fonts/UTMAircona.ttf);
}
html,
body {
  /* 1rem = 10px */
  font-size: 62.5%;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-family: var(--font-family2);
  font-size: var(--primary-font-size);
  line-height: 1.8;
  color: var(--primary-color);
}
a:focus,
button:focus {
  outline: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
:root {
  --font-family1: "UTMAircona";
  --font-family2: "UTMAptima";
  --primary-color: #494644;
  --primary-font-size: 1.6rem;
  --secondary-font-size: 1.4rem;
  --color1: #118443;
  --color2: #f21c26;
  --color3: #000000;
  --color4: #045381;
  --color5: #ffffff;
  --color6: #070707;
  --color7: #c4c4c4;
  --color8: #045381;
  --color9: #dbede3;
  --font-size13: 1.3rem;
  --font-size17: 1.7rem;
  --font-size18: 1.8rem;
  --font-size20: 2rem;
  --font-size24: 2.4rem;
  --font-size26: 2.6rem;
  --font-size30: 3rem;
  --font-size35: 3.5rem;
  --font-size40: 4rem;
  --font-size42: 4.2rem;
  --font-size90: 9rem;
  --font-size96: 9.6rem;
  --line-height19: 1.9rem;
  --line-height22: 2.2rem;
  --line-height27: 2.7rem;
  --line-height27: 2.7rem;
  --line-height30: 3rem;
  --line-height38: 3.8rem;
  --line-height50: 5rem;
  --line-height114: 11.4rem;
  --font-weight400: 400;
  --font-weight700: 700;
}
h2.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
h2.title img {
  width: 50%;
}
h2.title .bottom-line {
  width: 50%;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;
}
/* Menu */
header .navbar-brand {
  width: 24.1rem;
}
header .navbar {
  width: 100%;
}
header .navbar-toggler {
  font-size: 1.8rem;
}
header .navbar-light .navbar-nav .active > .nav-link {
  color: var(--color1);
}
header .languages {
  text-align: center;
  /* border-bottom: 1px solid #c4c4c4; */
}
header .languages a img {
  width: 2.9rem;
}
header .navbar-nav {
  text-align: center;
}
header .navbar-nav li {
  border-bottom: 1px solid #c4c4c4;
}
header .navbar-light .navbar-nav .nav-link:hover {
  color: var(--color1);
}
header .navbar ul li {
  position: relative;
}
header .menu-mobile {
  display: none;
  background: rgba(17, 132, 67, 0.5);
}
header .menu-mobile.active {
  display: block;
}
header .navbar-nav .submenu li {
  margin-right: 0;
  padding: 0.5rem 2rem;
}
header .submenu li a {
  /* border-bottom: 0.1rem solid var(--color5); */
  font-size: var(--font-size18);
  line-height: var(--line-height27);
  color: var(--color5);
  display: block;
}
/* End Menu */


/* 768px */
@media only screen and (min-width: 768px) {
  .section-latest-news .content-latest-news .left .frame {
    flex-direction: row;
  }
  /* Home Carousel */
  .section-carousel-banner .news-local .item,
  .section-carousel-banner .carousel .item {
    height: 100%;
  }
  /* End Home Carousel */
  /* Home Product Company */
  .products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .products .product a {
    width: 22rem;
    height: 12rem;
  }
  .product a .layer {
    width: 17rem;
    height: 11rem;
  }
  .products .product a img {
    width: 18rem !important;
    bottom: -2rem;
    right: 2rem;
  }
  /* End Home Product Company */
  /* Category */

  .news-local h2.title,
  .about h2.title,
  .project h2.title,
  .category h2.title {
    font-size: var(--font-size30);
    padding: 0.5rem 0 0 2.9rem;
  }

  .news-local h2.title .img,
  .about h2.title .img,
  .project h2.title .img,
  .category h2.title .img {
    width: 30rem;
  }

  .news-local h2.title .bottom-line,
  .about h2.title .bottom-line,
  .project h2.title .bottom-line,
  .category h2.title .bottom-line {
    top: 3.3rem;
  }

  .category .categories h5.card-title a {
    font-size: var(--font-size26);
  }
  .category .categories .card {
    margin-bottom: 2rem;
  }
  /* End Category */
  /* Contact */
  .contact .banner-contact ul li span {
    display: inline-block;
    margin-right: 3rem;
  }
  .contact .banner-contact ul li span:last-child {
    margin-right: 0;
  }
  .contact .map iframe {
    height: 28rem;
  }
  .contact h2.title .bottom-line {
    width: 61%;
  }
  .contact form input,
  .contact form textarea,
  .contact form select {
    font-size: var(--font-size18);
  }
  .contact form .form-group.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact form .form-group.info .right,
  .contact form .form-group.info .left {
    width: 45%;
  }
  /* End Contact */
  /* Project */
  .project h2.title .bottom-line {
    left: unset;
    right: 0;
    width: 39%;
  }
  .box-project-item {
    padding: 2rem;
    bottom: 1rem;
    right: 2rem;
    width: 84%;
  }
  .project .box {
    margin-bottom: 2rem;
  }
  /* End Project */
  /* About */
  .about .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .about .images .image {
    /* width: 50%; */
  }
  /* End About */
  /* News Local */
  .news-local .group-title {
    padding: 1rem 4rem;
  }
  .news-local .group-title span,
  .news-local .group-title p {
    font-size: var(--font-size26);
    line-height: var(--line-height38);
  }
  .news-local .box-news-local .boxs { 
    height: 23.8rem;
  }
  /* End News Local */
  /* Section Boxs News Local */
  .box-news-local .boxs {
    width: 33rem;
    height: 23.6rem;
  }
  .box-news-local .boxs .layer-boxs {
    width: 29rem;
    height: 20rem;
  }
  .box-news-local .boxs .images-boxs {
    width: 28rem;
  }
  /* End Section Boxs News Local */
  /* Detail */

  .detail .title-detail .date {
    font-size: var(--font-size18);
    margin-bottom: 1rem;
  }
  .detail .title-detail .title-top p {
    font-size: var(--font-size26);
  }
  .detail .title-detail .title-bot span {
    font-size: var(--font-size90);
  }
  .detail .sidebar .title h2 {
    width: 36%;
  }
  .detail .sidebar .title .bottom-line {
    width: 64%;
  }
  .detail .column-boxs2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* End Detail */
  /* Project Detail */
  .project-detail .title-detail .box-title-detail {
    text-align: center;
  }
  .project-detail .title-detail .title-bot span {
    font-size: var(--font-size90);
  }
  .project-detail .title-detail .title-bot {
    top: 40%;
  }
  .project-detail .title-detail .title-top p {
    font-size: var(--font-size30);
  }

  .project-detail h3.title {
    font-size: var(--font-size26);
  }
  .project-detail .block-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-detail .block-text p {
    width: 48%;
  }
  .project-detail .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-detail .projects .box {
    width: 48%;
    margin-bottom: 2rem;
  }
  .project-detail .projects .project-item img.img-project {
    width: 86%;
  }
  .project-detail .projects .box-project-item {
    bottom: 5rem;
    right: 2rem;
    width: 82%;
  }

  /* End Project Detail */
}
/* 992px */
@media only screen and (min-width: 992px) {
  header .navbar-collapse {
    border-bottom: 1px solid #c4c4c4;
    margin-left: 3rem;
  }
  header .navbar-nav li {
    border-bottom: unset;
    margin-right: 2rem;
  }
  header .languages {
    border-bottom: unset;
  }
  /* Home Carousel */
  .section-carousel-banner .news-local .owl-nav,
  .section-carousel-banner .carousel .owl-nav {
    padding: 0;
  }

  .section-carousel-banner .news-local .owl-nav .owl-prev,
  .section-carousel-banner .carousel .owl-nav .owl-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 3rem;
  }
  .section-carousel-banner .news-local .owl-nav .owl-next,
  .section-carousel-banner .carousel .owl-nav .owl-next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 3rem;
  }
  /* End Home Carousel */
  /* Latest New */
  .section-latest-news .header-latest-news {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* width: 90%;
    max-width: 90%; */
  }
  .section-latest-news .header-latest-news .latest-news,
  .section-latest-news .header-latest-news .readmore {
    flex-grow: 1;
  }
  .section-latest-news .header-latest-news .readmore {
    margin-top: 0;
    padding-right: 2rem;
  }
  .section-latest-news .header-latest-news .latest-news-title h2 {
    margin: 0 2rem 0 0;
  }
  .section-latest-news .header-latest-news .latest-news-title {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .section-latest-news .header-latest-news {
    padding: 0.5rem 0;
    margin-bottom: 4rem;
  }
  .section-latest-news .readmore {
    text-align: right;
  }
  .section-latest-news .right {
    padding-top: 1.7rem;
  }
  /* .circle-big {
    width: 19.5rem;
  } */
  /* End Latest New */
  /* Home Founders */
  .section-home-founders .founders {
    /* display: flex !important; */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .section-home-founders .founder {
    width: 100%;
    padding: 0 6rem;
  }
  .section-home-founders .founder img {
    width: 20rem;
  }

  /* End Home Founders */

  /* Category */
  .category .categories .card {
    width: 33%;
  }
  /* End Category */
  /* Footer */
  footer h3.title-footer {
    margin-top: 0;
  }
  footer .bottom {
    border-top: 1px solid #c4c4c4;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .bottom p {
    margin: 0;
  }
  /* Contact */
  /* .about h2.title .bottom-line , */
  .contact h2.title .bottom-line {
    width: 42%;
  }
  /* end Contact */
  /* End Footer */
  .section-newsest-today .media {
    flex-wrap: nowrap;
  }
  .section-newsest-today .media img.mr-3 {
    width: 20rem;
  }
  /* Project */
  .box-project-item h2 {
    font-size: var(--font-size30);
  }
  /* End project */
  .about .images .image {
    /* width: 20%;
    padding: 2rem; */
  }
  /* Boxs Local News */
  .box-news-local .boxs {
    width: 48%;
    max-width: 48%;
    padding: 0;
    height: 14.6rem;
    margin-bottom: 5rem;
  }
  .box-news-local .boxs .images-boxs {
    width: 15rem;
  }
  
  /* End Boxs Local News */
  /* Detail */
  .detail .sidebar .title h2 {
    width: 84%;
  }
  .detail .sidebar .title .bottom-line {
    width: 16%;
  }
  .box-news-local .boxs .layer-boxs {
    width: 15rem;
    height: 10rem;
  }
  .box-news-local .boxs .title-boxs {
    padding: 0.3rem;
  }
  /* End Detail */
  /* Menu Hover */
  /* header .submenu li a {
    border-bottom: 0.1rem solid var(--color5);
  } */
  header .navbar ul.submenu {
    position: absolute;
    left: 0;
    top: 150%;
    width: 24.1rem;
    text-align: left;
    background: rgba(17, 132, 67, 0.5);
    z-index: 9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .navbar ul.submenu > li a {
    border-bottom: 0.1rem solid var(--color5);
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 20px;
    line-height: 45px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header ul li:hover > ul.submenu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
  }
  /* End Menu Hover */
  /* Project Detail */
  /* .project-detail .title-detail .title-bot span {
    font-size: var(--font-size90);
  } */
  /* .project-detail .title-detail .title-bot {
    top: 40%;
  } */
  .project-detail .title-detail .title-top p {
    font-size: var(--font-size42);
  }
  .project-detail .block-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .project-detail .block-image .images {
    width: 32%;
  }
  /* End Project Detail */
  /* News Local */
  .news-local .box-news-local .boxs{
    width: 30%;
    max-width: 30%;
    height: 21rem;
  }
  .news-local .box-news-local .boxs .layer-boxs {
    width: 25rem;
    height: 18rem;
  }
  .news-local .box-news-local .boxs .images-boxs {
    width: 24rem;
  }
  .news-local .box-news-local .boxs .title-boxs {
    padding: 2rem 3rem;
  }
  /* End News Local */
}
/* 1024px */
@media only screen and (min-width: 1024px) {
  /* Home Carousel */
  .section-carousel-banner .news-local .owl-nav .owl-prev,
  .section-carousel-banner .carousel .owl-nav .owl-prev {
    left: 4rem;
  }
  .section-carousel-banner .news-local .owl-nav .owl-next,
  .section-carousel-banner .carousel .owl-nav .owl-next {
    right: 4rem;
  }
  .product a img {
    width: 20.7rem !important;
  }
  /* End Home Carousel */
  /* Home Product Company */
  /* .products .product a {
    width: 100%;
  }
  .products .product {
    width: 20%;
  } */
  /* End Home Product Company */
  /* Project */
  .project h2.title .bottom-line {
    width: 54%;
  }
  /* End Project */
  /* Boxs Local News */
  /* .box-news-local .boxs .layer-boxs {
    width: 26rem;
  } */
  /* End Boxs Local News */
}
/* 1200px */
@media only screen and (min-width: 1200px) {
  /* Home Product Company */
  .product a .layer {
    width: 18rem;
    height: 12rem;
  }
  .products .product a img {
    bottom: -2.5rem;
  }
  .section-home-product .readmore {
    margin-top: 4rem;
  }
  /* End Home Product Company */
  /* Category */
  .about h2.title,
  .project h2.title,
  .category h2.title {
    font-size: var(--font-size42);
  }
  .about h2.title .img,
  .project h2.title .img,
  .category h2.title .img {
    width: 40rem;
  }
  .about h2.title .bottom-line,
  .project h2.title .bottom-line,
  .category h2.title .bottom-line {
    top: 4rem;
  }
  /* End Category */
  /* Contact */
  .contact h2.title .bottom-line {
    width: 52%;
  }
  /* End Contact */
  /* Project */
  .about h2.title .bottom-line,
  .project h2.title .bottom-line {
    width: 47%;
  }
  .project-item img.img-project {
    width: 60%;
  }

  .box-project-item {
    bottom: 3rem;
    right: 6rem;
    width: 78%;
  }
  /* End Project */
  /* Boxs News Local */
  .box-news-local .boxs {
    width: 47%;
    max-width: 47%;
    height: 16rem;
    margin-bottom: 2rem;
  }
  .box-news-local .boxs .layer-boxs {
    width: 17rem;
    height: 13rem;
  }
  .box-news-local .boxs .images-boxs {
    width: 17rem;
  }
  /* End Boxs News Local */
  /* Detail */
  .detail .title-detail .title-bot span {
    font-size: var(--font-size96);
  }
  .detail .sidebar .title h2 {
    width: 75%;
  }
  .detail .sidebar .title .bottom-line {
    width: 44%;
  }
  /* End Detail */
  /* Project Detail */
  .project-detail .title-detail .title-bot span {
    font-size: var(--font-size96);
  }
  .project-detail .projects .box {
    width: 33%;
  }
  /* End Project Detail */
  /* News Local */
  .news-local .box-news-local .boxs {
    height: 25.2rem;
    }
  .news-local .box-news-local .boxs .layer-boxs {
    width: 30rem;
    height: 23rem;
  }
  .news-local .box-news-local .boxs .images-boxs {
    width: 30rem;
  }
  /* End News Local */
}

/* 1300px */
@media only screen and (min-width: 1400px) {
  .container {
    width: 140rem;
    max-width: 140rem;
  }
  header .navbar-nav li {
    margin-right: 5rem;
  }
  /* Home Product Company */
  .products .product a {
    width: 27rem;
    height: 18rem;
  }
  .product a .layer {
    width: 23rem;
    height: 16rem;
  }
  .products .product a img {
    bottom: 0;
    right: 3rem;
    width: 22rem !important;
  }
  /* End Home Product Company */

  /* Category */
  .category .categories .card {
    width: 32%;
  }
  /* End Category */
  /* Contact */
  .contact h2.title .bottom-line {
    width: 61%;
  }
  /* End Contact */
  /* Project */
  .project h2.title .bottom-line {
    width: 57%;
  }
  .project-item img.img-project {
    width: 69%;
  }
  .box-project-item {
    bottom: 0rem;
    right: 9rem;
    width: 72%;
  }
  .project .box {
    margin-bottom: 5rem;
  }
  .box-project-item h2 {
    font-size: var(--font-size42);
  }
  /* End Project */
  /* Boxs News Local */
  .box-news-local .boxs {
    height: 17.5rem;
  }
  .box-news-local .boxs .layer-boxs {
    width: 19rem;
    height: 15rem;
  }
  .box-news-local .boxs .images-boxs {
    width: 19rem;
  }
  /* End Boxs News Local */
  /* Detail */
  .detail .sidebar .title h2 {
    width: 54%;
  }
  .detail .sidebar .title .bottom-line {
    width: 44%;
  }
  .detail .column-boxs2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
  }
  /* .detail .box-news-local .boxs {
    width: 47%;
    height: 17.6rem;
    margin: 0;
    margin-bottom: 2rem;
  }
  .detail .box-news-local .boxs .layer-boxs {
    width: 20rem;
    height: 16rem;
  }
  .detail .box-news-local .boxs .images-boxs {
    width: 19rem;
  } */
  .detail .box-news-local .boxs .title-boxs {
    font-size: var(--font-size13);
    padding: 1rem;
    line-height: var(--line-height19);
  }
  .detail .sidebar .title {
    padding: 0 1rem;
  }
  /* End Detail */
  /* Project Detail */
  .project-detail .block-image .images {
    width: 30%;
  }
  .project-detail .projects .box {
    width: 32%;
  }
  .project-detail .projects .box-project-item {
    bottom: 5rem;
    right: 0rem;
    width: 91%;
  }
  /* End Project Detail */
  /* News Local */
  .news-local .box-news-local .boxs {
    height: 30.8rem;
    }
  .news-local .box-news-local .boxs .layer-boxs {
    width: 38rem;
    height: 28rem;
  }
  .news-local .box-news-local .boxs .images-boxs {
    width: 38rem;
  }
  /* End News Local */
}
/* Animation */
@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes one {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 140;
  }
}

@keyframes appear {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
